
.Home:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
  
    
}



.Projects:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
    
}
.MyEducation:hover{
    cursor: pointer;
    text-decoration: underline;
color: white;
 
}
.Connect:hover{
    cursor: pointer;
    text-decoration: underline;
color: white;

}

.mypic{
 
    border-radius:  5% 30%;
    border: 5px solid white;
    z-index: 998 !important;
    height: 300px;
    width: 250px;
    margin-left: 500px;

    

    
}
.test-sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.pconainer{
    display: flex !important;

}

.myview:hover{
    opacity: 0.7;

}
.myhome:hover{
    color:blue;
    text-decoration: underline;
}
.My1Education:hover{
    color: blue;
    text-decoration: underline;
}
.Myproject:hover{
    color: blue;
    text-decoration: underline;
}
.Myconnect:hover{
    color: blue;
    text-decoration: underline;
}



